* {
    box-sizing: border-box;
    font-family: 'Gotham Pro';
    font-weight: normal;
}

body {}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: scale-down;
    display: block;
}

.container {
    margin: 0 auto;
    max-width: 1715px;
}