.catalog__products {
  width: 100%;
  grid-column-start: 2; }

.catalog__products--header {
  display: flex; }

.catalog__products--count {
  font-size: 13px;
  font-weight: 400;
  line-height: 12.44px;
  color: #828282;
  padding-left: 5px; }

.catalog__products--title {
  font-size: 24px;
  line-height: 22.97px;
  font-weight: 400;
  text-transform: uppercase; }

.catalog__products--buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 0; }

.catalog__products-buttons-item {
  padding: 5px;
  max-width: 200px;
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #C12752;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  color: #C12752; }
  .catalog__products-buttons-item:hover {
    background-color: #C12752;
    color: #F9F6F1; }

.catalog__products-sort-btn {
  font-size: 16px;
  color: #4F4F4F;
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 60px; }
  .catalog__products-sort-btn .sort-btn__arrow {
    transition: transform 0.5s;
    margin-left: 10px; }

.catalog__products-sort-btn.active .sort-btn__arrow {
  transform: rotate(180deg); }

.catalog__products-buttons-item.active {
  background-color: #C12752;
  color: #F9F6F1; }

.catalog__products--list--item {
  padding: 27px 34px 10px 34px;
  width: 407px;
  height: auto;
  position: relative;
  margin-bottom: 35px; }
  .catalog__products--list--item .top-left-border {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 1px solid #D7B399;
    border-top: 1px solid #D7B399; }
  .catalog__products--list--item .top-right-border {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 0;
    right: 0;
    border-right: 1px solid #D7B399;
    border-top: 1px solid #D7B399; }
  .catalog__products--list--item .bottom-right-border {
    width: 52px;
    height: 52px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: 1px solid #D7B399;
    border-bottom: 1px solid #D7B399; }
  .catalog__products--list--item .bottom-left-border {
    width: 52px;
    height: 52px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 1px solid #D7B399;
    border-bottom: 1px solid #D7B399; }
  .catalog__products--list--item:hover .hover--block {
    display: block; }

.product--item__image {
  display: flex;
  align-items: center;
  justify-content: center; }

.product--item__old--cost {
  margin-top: 6px;
  font-size: 24px;
  line-height: 22.97px;
  font-weight: 700;
  text-decoration: line-through;
  color: black; }

.product--item__cost {
  margin-top: 6px;
  font-size: 42px;
  line-height: 40.19px;
  font-weight: 700;
  color: #C12752; }

.product--item__description {
  margin-top: 4px;
  font-size: 18px;
  line-height: 17.23px; }

.hover--block {
  display: none; }

.product--item__size--title {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #D7B399;
  font-size: 13px;
  line-height: 12px;
  text-decoration: underline; }

.product--item__size--list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  line-height: 12px; }

.product--item__size-bnt {
  width: 49px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D7B399;
  margin-left: 8px;
  cursor: pointer;
  color: #FFFFFF; }

.hover--block__btn {
  margin: 22px auto 0 auto;
  font-size: 16px;
  line-height: 15px;
  color: #FFFFFF;
  width: 202px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C12752; }

.catalog__products--list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around; }
