@media (max-width: 1250px) {
  .product-card__size-list {
    margin-top: 30px; }
  .product-card__old-cost {
    margin-top: 15px; }
  .product-card__info-title {
    margin-top: 0; }
  .product-card__buttons {
    margin-top: 25px; }
  .product-card__reviews {
    margin-top: 35px; }
  .product-card__facts-item {
    margin-top: 15px; }
  .product-card__top-block {
    padding: 10px 32px; }
  .product-card__facts {
    margin-top: 30px; }
  .product-card__bottom-block {
    padding: 10px 32px; } }

@media (max-width: 1050px) {
  .product-card__top-block {
    flex-direction: column;
    align-items: center; }
  .product-card__social {
    margin-left: 52px; } }

@media (max-width: 992px) {
  .product-card__top-block {
    padding: 10px 18px; }
  .product-card__bottom-block {
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px 18px; }
  .product-card__buttons {
    display: flex;
    flex-direction: column; }
    .product-card__buttons a {
      width: 100%;
      height: 56px; }
  .product-card__descriptions {
    padding-top: 15px; }
  .product-card__descriptions-item {
    margin-bottom: 18px; }
    .product-card__descriptions-item.top-border {
      border: none; }
  .descriptions-item__title {
    border: 1px solid #D7B399;
    padding-left: 30px;
    padding-right: 20px;
    transition: all 0.5s; }
    .descriptions-item__title h2 {
      color: #D7B399;
      transition: all 0.5s; }
  .active .descriptions-item__title {
    border: 0 solid #D7B399;
    background: white; }
    .active .descriptions-item__title h2 {
      color: black; }
  .product-card__btn-buy-one-click {
    margin-top: 20px; }
  .product-card__text {
    display: inline; }
  .product-card__info-title {
    margin-top: 20px;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #000000; }
  .product-card__size-list {
    margin-top: 6px; }
  .product-card__old-cost-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 23px; }
  .product-card__new-cost {
    font-weight: bold;
    font-size: 42px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: uppercase; }
  .product-card__small-text {
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.04em;
    color: #9C9797; }
  .product-card__social {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    padding-left: 40px; }
  .product-card__social-text {
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #AEAEAE; }
  .product-card__sizes {
    flex-direction: column-reverse; }
  .product-card__slider-block {
    display: none; }
  .product-card__slider-mobile {
    display: block; }
  .product-card__slider-mobile-block {
    display: flex; }
  .product-card__slider-arrows {
    display: flex; }
  .product-card__slider-mobile-block .slider-arrows {
    display: block; }
  .product-card__top-block {
    flex-direction: column; }
  .product-card__info {
    padding-left: 0; }
  .product-card__discount-benefit {
    display: none; }
  .product-card__reviews-text {
    white-space: nowrap; } }

@media (max-width: 410px) {
  .product-card__add-review-text {
    white-space: normal; }
  .product-card__social {
    padding-left: 0; }
  .product-card__top-block {
    padding: 10px 5px; }
  .product-card__bottom-block {
    padding: 10px 5px; }
  .product-card__size-item {
    margin-right: 1px; }
  .product-card__add-review {
    margin-left: 10px; } }
