.catalog__products--list--item-wrapper {
  height: 683px; }

.catalog__products--list--item {
  vertical-align: top;
  padding: 27px 34px 10px 34px;
  width: 407px;
  position: relative;
  margin-bottom: 35px;
  transition: height 0.5s;
  background-color: white; }
  .catalog__products--list--item:hover {
    height: auto;
    z-index: 999; }
    .catalog__products--list--item:hover .hover--block {
      display: block;
      height: 160px; }

.top-left-border {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 0;
  left: 0;
  border-left: 1px solid #D7B399;
  border-top: 1px solid #D7B399; }

.top-right-border {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 0;
  right: 0;
  border-right: 1px solid #D7B399;
  border-top: 1px solid #D7B399; }

.bottom-right-border {
  width: 52px;
  height: 52px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-right: 1px solid #D7B399;
  border-bottom: 1px solid #D7B399; }

.bottom-left-border {
  width: 52px;
  height: 52px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-left: 1px solid #D7B399;
  border-bottom: 1px solid #D7B399; }

.product--item__image {
  display: flex;
  align-items: center;
  justify-content: center; }

.product--item__old--cost {
  margin-top: 6px;
  font-size: 24px;
  line-height: 22.97px;
  font-weight: 700;
  text-decoration: line-through;
  color: black;
  display: flex; }

.product--item__cost {
  margin-top: 6px;
  font-size: 42px;
  line-height: 40.19px;
  font-weight: 700;
  color: #C12752; }

.product--item__discounts {
  position: relative; }
  .product--item__discounts img {
    margin-left: 6px;
    cursor: pointer; }
  .product--item__discounts .product--item__discounts-benefit {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 287px;
    height: 65px;
    background-color: #C12752; }
    .product--item__discounts .product--item__discounts-benefit.active {
      display: none; }

.product--item__description {
  margin-top: 4px;
  font-size: 18px;
  line-height: 17.23px; }

.hover--block {
  display: block;
  height: 0;
  transition: height 0.5s;
  overflow: hidden;
  background-color: white;
  position: relative; }

.product--item__size--title {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #D7B399;
  font-size: 13px;
  line-height: 12px;
  text-decoration: underline; }

.product--item__size--list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  line-height: 12px; }

.product--item__size-bnt {
  width: 49px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D7B399;
  margin-left: 8px;
  cursor: pointer;
  color: #FFFFFF; }

.hover--block__btn {
  margin: 22px auto 0 auto;
  font-size: 16px;
  line-height: 15px;
  color: #FFFFFF;
  width: 202px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C12752; }
