.product-card__bottom-block {
    padding: 0 112px;
}

.product-card__top-block {
    display: flex;
    padding: 0 112px;
}

.product-card__info {
    padding-left: 24px;
}

.product-card__info-title {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #000000;
}

@import 'slider.scss';
.product-card__info-title {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 38px;
}

.product-card__vendor-code {
    font-size: 13px;
    line-height: 12px;
    letter-spacing: 0.04em;
    margin-top: 20px;
}

.product-card__old-cost {
    margin-top: 32px;
    display: flex;
    position: relative;
    img {
        cursor: pointer;
    }
}

.product-card__discount-img {
    position: relative;
}

.product-card__discount-benefit {
    position: absolute;
    // top: -10px;
    top: -65px;
    right: -265px;
    width: 287px;
    height: 65px;
    background: #C12752;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card__old-cost-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-decoration-line: line-through;
    text-transform: uppercase;
}

.product-card__new-cost {
    font-weight: bold;
    font-size: 42px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #C12752;
    margin-top: 5px;
}

.product-card__small-text {
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.04em;
    color: #9C9797;
    margin-top: 11px;
}

.product-card__size-list {
    display: flex;
    margin-top: 72px;
}

.product-card__size-item {
    display: block;
    width: 49px;
    height: 37px;
    background: #D7B399;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 8px;
}

.product-card__size-table {
    display: block;
    font-size: 13px;
    line-height: 12px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #D7B399;
    margin-top: 12px;
}

.product-card__buttons {
    display: flex;
    margin-top: 45px;
}

.product-card__btn-basket {
    background: #C12752;
    font-family: Gotham Pro;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    width: 202px;
    height: 55px;
    color: #FFFFFF;
    margin-right: 24px;
}

.product-card__btn-buy-one-click {
    width: 163px;
    height: 55px;
    background: #F9F6F1;
    border: 1px solid #C12752;
    color: #C12752;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card__text {
    font-size: 13px;
    line-height: 12px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #D7B399;
    display: block;
}

.credit {
    margin-top: 18px;
}

.product-card__reviews {
    display: flex;
    margin-top: 58px;
    font-size: 13px;
    line-height: 12px;
    letter-spacing: 0.04em;
    color: #D7B399;
}

.product-card__add-review {
    display: flex;
    text-decoration-line: underline;
}

.product-card__reviews-count {
    display: flex;
    text-decoration-line: underline;
}

.product-card__rating {
    color: #AEAEAE;
    font-size: 25px;
    text-decoration: none;
    text-decoration-line: none;
    position: relative;
    height: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
        .product-card__rating-active {
            display: none;
        }
    }
}

.product-card__rating-unactive {
    display: flex;
    align-content: center;
    justify-content: center;
    .active {
        color: darkorange;
    }
}

.product-card__rating-active {
    color: darkorange;
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    overflow: hidden;
}

.product-card__facts {
    margin-top: 60px;
}

.product-card__facts-item {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.product-card__facts-item-icon {
    margin-right: 10px;
}

.product-card__facts-item-text {
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    color: #212121;
}

.product-card__bottom-block {
    display: flex;
}

.descriptions-item {
    max-width: 821px;
    width: 100%;
    height: auto;
    .descriptions-item__popup {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s;
        padding-bottom: 0;
        transition-timing-function: linear;
    }
    &.active {
        .descriptions-item__popup {
            height: auto;
            max-height: 300px;
        }
        .descriptions-item__icon {
            transform: rotate(-90deg);
        }
    }
    transition: 1s height;
}

.descriptions-item__title {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.descriptions-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s transform;
}

.top-border {
    border-top: 1px solid #D7B399;
}

.product-card__social {
    display: flex;
    flex-direction: column;
    margin-left: 282px;
    margin-top: 21px;
}

.product-card__social-text {
    font-family: Gotham Pro;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #AEAEAE;
}

.product-card__social-icons {
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.product-card__social-icons-item {
    margin-right: 16px;
}

@import 'productCardMedia.scss';